USE [master]
GO
/****** Object:  Database [TaskManagementDB]    Script Date: 08-03-2026 14:44:29 ******/
CREATE DATABASE [TaskManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TaskManagementDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TaskManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TaskManagementDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskManagementDB]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 08-03-2026 14:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[DueDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[Remarks] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[LastUpdatedOn] [datetime] NULL,
	[CreatedById] [int] NULL,
	[CreatedByName] [nvarchar](100) NULL,
	[LastUpdatedById] [int] NULL,
	[LastUpdatedByName] [nvarchar](100) NULL,
 CONSTRAINT [PK_TaskItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([Id], [Title], [Description], [DueDate], [Status], [Remarks], [CreatedOn], [LastUpdatedOn], [CreatedById], [CreatedByName], [LastUpdatedById], [LastUpdatedByName]) VALUES (5, N'Test Title', N'Test Description', CAST(N'2026-03-03 00:00:00.000' AS DateTime), N'Pending', N'Test Remarks', CAST(N'2026-03-03 22:38:30.050' AS DateTime), CAST(N'2026-03-03 22:42:11.390' AS DateTime), 1, N'Rahul', 1, N'Rahul')
SET IDENTITY_INSERT [dbo].[Tasks] OFF
/****** Object:  Index [IX_Tasks_DueDate]    Script Date: 08-03-2026 14:44:29 ******/
CREATE NONCLUSTERED INDEX [IX_Tasks_DueDate] ON [dbo].[Tasks]
(
	[DueDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Tasks_Title]    Script Date: 08-03-2026 14:44:29 ******/
CREATE NONCLUSTERED INDEX [IX_Tasks_Title] ON [dbo].[Tasks]
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
